.wcuCol-xs-1, .wcuCol-sm-1, .wcuCol-md-1, .wcuCol-lg-1,
.wcuCol-xs-2, .wcuCol-sm-2, .wcuCol-md-2, .wcuCol-lg-2,
.wcuCol-xs-3, .wcuCol-sm-3, .wcuCol-md-3, .wcuCol-lg-3,
.wcuCol-xs-4, .wcuCol-sm-4, .wcuCol-md-4, .wcuCol-lg-4,
.wcuCol-xs-5, .wcuCol-sm-5, .wcuCol-md-5, .wcuCol-lg-5,
.wcuCol-xs-6, .wcuCol-sm-6, .wcuCol-md-6, .wcuCol-lg-6,
.wcuCol-xs-7, .wcuCol-sm-7, .wcuCol-md-7, .wcuCol-lg-7,
.wcuCol-xs-8, .wcuCol-sm-8, .wcuCol-md-8, .wcuCol-lg-8,
.wcuCol-xs-9, .wcuCol-sm-9, .wcuCol-md-9, .wcuCol-lg-9,
.wcuCol-xs-10, .wcuCol-sm-10, .wcuCol-md-10, .wcuCol-lg-10,
.wcuCol-xs-11, .wcuCol-sm-11, .wcuCol-md-11, .wcuCol-lg-11,
.wcuCol-xs-12, .wcuCol-sm-12, .wcuCol-md-12, .wcuCol-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
}
.wcuCol-xs-1, .wcuCol-xs-2, .wcuCol-xs-3, .wcuCol-xs-4, .wcuCol-xs-5, .wcuCol-xs-6, .wcuCol-xs-7, .wcuCol-xs-8, .wcuCol-xs-9, .wcuCol-xs-10, .wcuCol-xs-11, .wcuCol-xs-12 {
    float: left;
}
.wcuCol-xs-1 {
    width: 8.33333%;
}
.wcuCol-xs-2 {
    width: 16.66667%;
}
.wcuCol-xs-3 {
    width: 25%;
}
.wcuCol-xs-4 {
    width: 33.33333%;
}
.wcuCol-xs-5 {
    width: 41.66667%;
}
.wcuCol-xs-6 {
    width: 50%;
}
.wcuCol-xs-7 {
    width: 58.33333%;
}
.wcuCol-xs-8 {
    width: 66.66667%;
}
.wcuCol-xs-9 {
    width: 75%;
}
.wcuCol-xs-10 {
    width: 83.33333%;
}
.wcuCol-xs-11 {
    width: 91.66667%;
}
.wcuCol-xs-12 {
    width: 100%;
}
@media (min-width: 768px) {
    .wcuCol-sm-1, .wcuCol-sm-2, .wcuCol-sm-3, .wcuCol-sm-4, .wcuCol-sm-5, .wcuCol-sm-6, .wcuCol-sm-7, .wcuCol-sm-8, .wcuCol-sm-9, .wcuCol-sm-10, .wcuCol-sm-11, .wcuCol-sm-12 {
        float: left;
    }
    .wcuCol-sm-1 {
        width: 8.33333%;
    }
    .wcuCol-sm-2 {
        width: 16.66667%;
    }
    .wcuCol-sm-3 {
        width: 25%;
    }
    .wcuCol-sm-4 {
        width: 33.33333%;
    }
    .wcuCol-sm-5 {
        width: 41.66667%;
    }
    .wcuCol-sm-6 {
        width: 50%;
    }
    .wcuCol-sm-7 {
        width: 58.33333%;
    }
    .wcuCol-sm-8 {
        width: 66.66667%;
    }
    .wcuCol-sm-9 {
        width: 75%;
    }
    .wcuCol-sm-10 {
        width: 83.33333%;
    }
    .wcuCol-sm-11 {
        width: 91.66667%;
    }
    .wcuCol-sm-12 {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .wcuCol-md-1, .wcuCol-md-2, .wcuCol-md-3, .wcuCol-md-4, .wcuCol-md-5, .wcuCol-md-6, .wcuCol-md-7, .wcuCol-md-8, .wcuCol-md-9, .wcuCol-md-10, .wcuCol-md-11, .wcuCol-md-12 {
        float: left;
    }
    .wcuCol-md-1 {
        width: 8.33333%;
    }
    .wcuCol-md-2 {
        width: 16.66667%;
    }
    .wcuCol-md-3 {
        width: 25%;
    }
    .wcuCol-md-4 {
        width: 33.33333%;
    }
    .wcuCol-md-5 {
        width: 41.66667%;
    }
    .wcuCol-md-6 {
        width: 50%;
    }
    .wcuCol-md-7 {
        width: 58.33333%;
    }
    .wcuCol-md-8 {
        width: 66.66667%;
    }
    .wcuCol-md-9 {
        width: 75%;
    }
    .wcuCol-md-10 {
        width: 83.33333%;
    }
    .wcuCol-md-11 {
        width: 91.66667%;
    }
    .wcuCol-md-12 {
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .wcuCol-lg-1, .wcuCol-lg-2, .wcuCol-lg-3, .wcuCol-lg-4, .wcuCol-lg-5, .wcuCol-lg-6, .wcuCol-lg-7, .wcuCol-lg-8, .wcuCol-lg-9, .wcuCol-lg-10, .wcuCol-lg-11, .wcuCol-lg-12 {
        float: left;
    }
    .wcuCol-lg-1 {
        width: 8.33333%;
    }
    .wcuCol-lg-2 {
        width: 16.66667%;
    }
    .wcuCol-lg-3 {
        width: 25%;
    }
    .wcuCol-lg-4 {
        width: 33.33333%;
    }
    .wcuCol-lg-5 {
        width: 41.66667%;
    }
    .wcuCol-lg-6 {
        width: 50%;
    }
    .wcuCol-lg-7 {
        width: 58.33333%;
    }
    .wcuCol-lg-8 {
        width: 66.66667%;
    }
    .wcuCol-lg-9 {
        width: 75%;
    }
    .wcuCol-lg-10 {
        width: 83.33333%;
    }
    .wcuCol-lg-11 {
        width: 91.66667%;
    }
    .wcuCol-lg-12 {
        width: 100%;
    }
}
.wcuCurrencyConverterWidget .wcuCurrencyConverterShell .wcuMargin {
    margin-bottom: 10px;
}
.wcuCurrencyConverterWidget .wcuCurrencySwitcherWidgetShowAsFlag {
    display:inline-block;
    position:relative;
    cursor:pointer;
    opacity:.8;
    width:32px;
    height:32px;
}
.wcuCurrencyConverterWidget li:before {
    display:none !important;
}
.wcuCurrencyConverterWidget img.fnone  {
    width:auto;
    height:auto;
}
.wcuCurrencyConverterWidget .wcuRotateAnimation {
    transform: translate(0%,10%) rotate(-180deg);
}
.wcuCurrencyConverterWidget .wcuExchangeIcon {
    font-size:23px;
    margin-top:0px;
    cursor:pointer;
    transition:.4s;
}
.wcuCurrencyConverterWidget .wcuCurrencyConvertBtn {
    transition:.4s;
    outline:0;
}
.wcuCurrencyConverterWidget select {
    width:100%;
}
.wcuCurrencyConverterWidget input {
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    border: 1px solid #ddd;
    padding: 0px 4px;
}
.wcuCurrencyConverterWidget button {
    border: none;
    padding: 10px 0px;
    font-size: 16px;
}
.wcuCurrencyConverterWidget.wcuCurrencyConverterWidget_vertical .wcuExchangeIcon {
    margin-top: -5px;
}
.theme-generatepress .wcuCurrencyConverterWidget.wcuCurrencyConverterWidget_vertical .wcuExchangeIcon {
	margin-top: inherit !important;
}
.wcuCurrencyConverterWidget.wcuCurrencyConverterWidget_horizontal .wcuExchangeIcon {
    margin-top: -8px;
}
.wcuCurrencyConverterWidget .ddcommon .ddTitle .ddTitleText img, .wcuCurrencyConverterWidget .dd .ddChild li img {
    width:32px;
}
.wcuCol-row {
	display:block;
	position:relative;
}
